body { 
	padding: 20px;
}

tr { 
	vertical-align: top;
}

.post { 
	width: 300px; 
	border: 1px solid rgba(211,211,211,1);
	border-radius: 5px;
	padding: 5px;
	margin-right: 5px;
	height: 88vh;
}

#added_activities {
	border: 1px solid rgba(211,211,211,1);
	border-radius: 5px;
	padding: 5px;
	height: 80vh;
}

#day_activities {
	border: 1px solid rgba(211,211,211,1);
	border-radius: 5px;
	padding: 5px;
	height: 73vh;
}

.btn_custom {
	color: white;
	margin: 5px 0;
	background-color: rgba(146, 205, 0, 1);
}

#button_save_changes {
	color: white;
	margin: 0;
	background-color: rgba(146, 205, 0, 1);
}

#button_close {
	color: white;
	background-color: rgba(204, 0, 0, 1);
}

input {
	text-align: right;
	border-radius: 3px;
	border: 1px solid rgba(211,211,211,1);
	padding: 1px 5px;
	margin-top: 1px;
	margin-bottom: 1px;
}

textarea {
	border-radius: 3px;
	border: 1px solid rgba(211,211,211,1);
	padding: 5px;
	width: 100%;
   	resize: none;
}

select {
	padding: 5px; 
	border-radius: 3px; 
	border: 1px solid rgba(211,211,211,1);
}