body { 
	padding: 20px;
}

tr { 
	vertical-align: top;
}

.post{ 
	width: 300px; 
	border: 1px solid rgba(211,211,211,1);
	border-radius: 5px;
	padding: 5px;
	margin-right: 5px;
	height: 700px;
}

#activitiesContainer {
	border: 1px solid rgba(211,211,211,1);
	border-radius: 5px;
   	overflow: hidden;
	height: 640px;
}

#dayActivities {
	border: 1px solid rgba(211,211,211,1);
	border-radius: 5px;
   	overflow: hidden;
	height: 585px;
}

.btn_custom {
	color: white;
	margin: 5px 0;
	background-color: rgba(146, 205, 0, 1);
}

.btn_custom:hover{
	color: white;
	background-color: rgba(0, 204, 0, 1);
}

#button_save_changes {
	color: white;
	margin: 0;
	background-color: rgba(146, 205, 0, 1);
}

#button_save_changes:hover {
	color: white;
	background-color: rgba(0, 204, 0, 1);
}

#button_close {
	color: white;
	background-color: rgba(255, 51, 51, 1);
}

#button_close:hover {
	color: white;
	background-color: rgba(204, 0, 0, 1);
}

input {
	text-align: right;
	border-radius: 3px;
	border: 1px solid rgba(211,211,211,1);
	padding: 1px 5px;
	margin-top: 1px;
	margin-bottom: 1px;
}

textarea {
	border-radius: 3px;
	border: 1px solid rgba(211,211,211,1);
	padding: 5px;
	width: 100%;
   	resize: none;
}

select {
	padding: 5px; 
	border-radius: 3px; 
	border: 1px solid rgba(211,211,211,1);
}

#progress:after {
    border-right: 2px solid white;
    width: 30%;
    height: 80%;
    position: absolute;
    left: 0;
    content: '';
}

.activity {
	height: 38px;
	width: 100%;
	padding: 0;
	border-bottom: 1px solid rgba(211,211,211,1);
	cursor: pointer;
}

.activity p {
	color: white;
}

.presentation {
	background-color: rgba(0, 153, 204, 1);
}

.presentation:hover {
	background-color: rgba(0, 153, 204, 0.8);
}

.break {
	background-color: rgba(255, 153, 0, 1);
}

.break:hover {
	background-color: rgba(255, 153, 0, 0.8);
}

.discussion {
	background-color: rgba(146, 205, 0, 1);
}

.discussion:hover {
	background-color: rgba(146, 205, 0, 0.8);
}

.groupWork {
	background-color: rgba(210, 54, 65, 1);
}

.groupWork:hover {
	background-color: rgba(210, 54, 65, 0.8);
}
